html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', 'Apple Color Emoji', sans-serif;
}
b {
  font-weight: normal;
  font-size: 1.5em;
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin: 0.5em 0 0 -1em;
  width: 2em;
  height: 1.5em;
  background-color: rgba(0,0,0,0.25);
  text-align: center;
  padding-top: 0.5em;
  border-radius: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.color {
  width: 100%;
  position: absolute;
  margin-top: -4em;
  text-align: center;
  top: 50%;
}
.color span {
  display: inline-block;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(0,0,0,0.25);
}
